/*Cambio de colocar a gris al pasar por encima del objeto*/
.highlight:hover {
    color: rgb(76, 76, 76);
    transition: color 0.3s ease;
}
/*Cambio de tamaño al pasar por encima del objeto*/
.zoom:hover {
    transform: scale(1.02);
    display: inline-block;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease-out;
}
